<table class="table table-bordered">
    <tbody>
        <tr>
            <td colspan="2">Diameter</td>
            <td colspan="2">Tebal Dinding (mm)</td>
        </tr>
        <tr>
            <td>inch</td>
            <td>mm</td>
            <td>AW</td>
            <td>D</td>
        </tr>
        <tr>
            <td>1/2</td>
            <td>22</td>
            <td>1,6</td>
            <td>–</td>
        </tr>
        <tr>
            <td>3/4</td>
            <td>26</td>
            <td>1,8</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1</td>
            <td>32</td>
            <td>2,0</td>
            <td>–</td>
        </tr>
        <tr>
            <td>1 1/4</td>
            <td>42</td>
            <td>2,2</td>
            <td>1,4</td>
        </tr>
        <tr>
            <td>1 1/2</td>
            <td>48</td>
            <td>2,4</td>
            <td>1,4</td>
        </tr>
        <tr>
            <td>2</td>
            <td>60</td>
            <td>2,4</td>
            <td>1,4</td>
        </tr>
        <tr>
            <td>2 1/2</td>
            <td>76</td>
            <td>2,8</td>
            <td>1,6</td>
        </tr>
        <tr>
            <td>3</td>
            <td>89</td>
            <td>3,2</td>
            <td>1,8</td>
        </tr>
        <tr>
            <td>4</td>
            <td>114</td>
            <td>4,0</td>
            <td>2,2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>140</td>
            <td>5,4</td>
            <td>2,8</td>
        </tr>
        <tr>
            <td>6</td>
            <td>165</td>
            <td>6,4</td>
            <td>3,0</td>
        </tr>
        <tr>
            <td>8</td>
            <td>216</td>
            <td>8,2</td>
            <td>4,4</td>
        </tr>
        <tr>
            <td>10</td>
            <td>267</td>
            <td>9,0</td>
            <td>6,6</td>
        </tr>
        <tr>
            <td>12</td>
            <td>318</td>
            <td>11,0</td>
            <td>7,6</td>
        </tr>
    </tbody>
</table>