<br>
<hr><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>PT Nusa Karya Rajawali</h3>
            <strong>Distributor Pipa PVC, HDPE dan PPR</strong>
            <br>
            <p>
                Ruko Bali View Point Blok C No.40<br>
                Jl. Cirendeu Raya, Pisangan Ciputat Timur<br>
                Tangerang Selatan, Banten 15419<br><br>
                Telp : <strong>021-227 99654</strong>
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <strong>Sales 1:</strong>
            <strong>[ 0813 8125 3138 ] </strong> 
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=6281381253138">WhatsApp</a>
                <a class="btn btn-danger" href="tel:081381253138">Call</a>
            </div>
            <br><br>
            <strong>Sales 2:</strong>
            <strong>[ 0838 7354 4537 ] </strong> 
            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-success" href="https://api.whatsapp.com/send?phone=6283873544537">WhatsApp</a>
                <a class="btn btn-danger" href="tel:083873544537">Call</a>
            </div>
        </div>
    </div>

</div>


<br>
<hr><br>

<footer class="container">
    <div class="col-md-12 col-sm-12">
        <p>&copy; Pipa.WEB.ID - Distributor Pipa PVC, HDPE, dan PPR.</p>
        <p>
            <a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a> -
            <a href="{{ .Site.BaseURL }}/kebijakan-privasi">Kebijakan Privasi</a>
        </p>
    </div>
</footer>

<script src="{{ .Site.BaseURL }}/js/jquery-3.3.1.slim.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
</body>

</html>