<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ .Description }}">
	<title>{{ .Title }}</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ .Site.BaseURL }}/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{ .Site.BaseURL }}/">Pipa.WEB.ID</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDefault"
				aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pipapvc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Pipa PVC</a>
						<div class="dropdown-menu" aria-labelledby="pipapvc">
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/pipa-pvc">
									Pipa PVC
								</a>
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-pipa-pvc">
									Harga Pipa PVC
								</a>
							<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-pvc">
								Harga Fitting Pipa PVC
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pipahdpe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Pipa HDPE</a>
						<div class="dropdown-menu" aria-labelledby="pipahdpe">
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/pipa-hdpe">
									Pipa HDPE
								</a>
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-pipa-hdpe">
									Harga Pipa HDPE
								</a>
							<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-hdpe">
								Harga Fitting Pipa HDPE
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pipappr" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Pipa PPR</a>
						<div class="dropdown-menu" aria-labelledby="pipappr">
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/pipa-ppr">
									Pipa PPR
								</a>
								<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-pipa-ppr">
									Harga Pipa PPR
								</a>
							<a class="dropdown-item" href="{{ .Site.BaseURL }}/harga-fitting-pipa-ppr">
								Harga Fitting Pipa PPR
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="{{ .Site.BaseURL }}/pipa-ac">Pipa AC</a>
					</li>
				</ul>
			</div>
		</div>

	</nav>
	<div style="height: 100px; clear: both"></div>