{{ partial "header" . }}

<main role="main" class="container">

    <div class="starter-template">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Pipa</h3>
                <p>Adalah benda berbentuk silinder yang digunakan untuk mengalirkan cairan atau gas. Sejarah penggunaan
                    pipa cukup panjang, berawal dari penggunaan bambu untuk pengairan pertanian oleh orang China 3000
                    tahun sebelum Masehi. Penggunaan pipa sangat luas, mulai dari kebutuhan pengairan rumah tangga,
                    hingga pada kebutuhan industri seperti industri pertambangan, minyak dan gas.</p>
                <p>Saat ini pipa terbuat dari beragam material, pada umumnya yang banyak ditemukan di pasaran 
                    adalah pipa logam (pipa besi, pipa black steel, pipa stainless steel,
                    pipa tembaga/pipa AC, pipa galvanis, pipa alumunium, dll) dan pipa plastik (pipa PVC, pipa PE, pipa PPR, pipa PEX, dll).
                </p>
            </div>
        </div>
    </div>

</main><!-- /.container -->

{{ partial "footer" . }}